---
layout: default
---

The Next Generation Networks (NGN) Group at the the University of Colorado, led
by Eric Keller and Sangtae Ha, is researching all things having to do with the
networked systems of modern and future infrastructures. We look at the
security, reliability, performance, etc. of networked infrastructures such as
data centers, enterprises, and even smart grids - basically anything with a
communication network.

<div class="news">
	<ul>
	{% for post in site.posts limit: 1 %}
		<li>
			<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span><span class="post-title">{{ post.title }}</span>
			<span class="post-excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }} [<a href="{{ post.url | prepend: site.baseurl }}">read more</a>]</span>
		</li>
	{% endfor %}
	{% for post in site.posts offset: 1 %}
		<li>
		<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span><span class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span>
		</li>
	{% endfor %}
	</ul>
</div>
