<header class="row small-11 medium-9 large-7">
	<div class="top">
		<div class="ngn">
			next generation networks
			<span class="sub">research group</span>
		</div>
		<div class="cu-full show-for-medium">
			<a href="http://www.colorado.edu">university of colorado <b>boulder</b></a>
		</div>
	</div>
	
	<div class="boulder"></div>
	
	<nav>
		<div class="left">
			<a href="/"><i class="fa fa-home"></i></a>
			<a href="/about/">about</a>
			<a href="/people/">people</a>
			<a href="/research/">research</a>
			<a href="/publications/">publications</a>
		</div>
		<div class="right">
			<a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a>
		</div>
	</nav>
</header>

