<header class="row small-12 medium-9 large-7">
	<div class="top">
		<div class="ngn">
			next generation networks
			<span class="sub">research group</span>
		</div>
		<div class="cu-full show-for-medium">
			<a href="http://www.colorado.edu">university of colorado <b>boulder</b></a>
		</div>
	</div>
	
	<div class="boulder"></div>
	
	<nav>
		<div class="left">
			{% assign url = page.url|remove:'index.html' %}
			<a class="{% if url == "/" %}active{% endif %}" href="/"><i class="fa fa-home"></i></a>
			{% for item in site.main_nav %}
				<a class="{% if url == item.url %}active{% endif %}" href="{{ item.url | prepend: site.baseurl }}">{{ item.text }}</a>	
			{% endfor %}
		</div>
	</nav>
</header>

